.form-managed-file {
  position: relative;
}

.form-managed-file__main {
  position: absolute;
  right: 0;
  z-index: 1;
}

.form-managed-file__main * {
  margin: 0!important;
  margin-left: 1rem!important;
}

.form-type-managed-file label[id^='edit-field-media-image'] {
  display: none!important;
}

[id^="edit-preview-"],
.image-preview__img-wrapper {
  position: relative;
}

[id^="edit-preview-"] .form-item-name.form-item,
[id^="edit-preview-"] .form-item-name,
.image-preview__img-wrapper .file {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .5rem;
  background-color: rgba(255,255,255,.7);
  background-image: none;
  margin: 0!important;
}

.crop-preview-wrapper__crop-reset {
  margin: 1rem 0!important;
}

/* Add media */
.media-library-add-form-wrapper [id^='edit-preview'] img {
  width: auto!important;
}

.media-library-add-form-wrapper details .details-wrapper {
  position: relative;
}

.media-library-add-form-wrapper details {
  margin-top: 1.5rem;
}

input[id^=edit-remove-button] {
  position: absolute;
  right: 1.5rem;
  z-index: 1;
}

.media-library-add-form-wrapper .form-item-name label {
  display: none!important;
}

