/* Claro. */
.form-managed-file__main .button {
  margin-left: 1rem!important;
}

/* Starterkit.*/
.image-widget-data .button {
  float: right;
  margin: 0!important;
  margin-left: 1rem!important;
}

.form-item-new-filename label {
  display: block;
}

.form-item-new-filename .form-text {
  display: inline-block;
}

.button-file-rename {
  line-height: .75rem!important;
  margin-left: 0.7rem!important;
  padding-left: .7rem!important;
  padding-right: .7rem!important;
  margin-right: 0!important;
}
